{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread"
    ]
}